body{
  background-image: url('https://hips.hearstapps.com/hmg-prod/images/meadow-in-rocky-mountain-national-park-royalty-free-image-1592402262.jpg');
  margin-top:20px;
}

#topic{
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
}
form{
    padding: 10px;
    width: fit-content;
    margin: 0 auto;
    border-radius: 10px;
}
input[type="text"]{
    font-size: 1em;
    border:0;
    padding:20px;
    border-radius: 10px 10px 10px 10px;
    outline: 0;
    margin-bottom: 40px;
}
input[type="submit"]{
    font-size: 1em;
    border:0;
    padding:20px;
    border-radius: 10px 10px 10px 10px;
    cursor:pointer;
    margin-left: 60px;
    background-color: burlywood;
}

#weatherContainer{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    background:#afaffc;
    padding: 20px;
    border-radius:15px;
    height: 200px;
    width:400px;
    box-shadow: 0 0 20px 2px #5e5d5da9 ;
    
}

#cityName{
    position: absolute;
    top:0;
    left:0;
    font-size: 2.9em;
    width:290px;
    white-space: nowrap;
    overflow-x: scroll;
}

#image{
    position: absolute;
    top:10px;
    right:10px;
    height: 100px;
    border-radius: 50%;
    border: 0.2px dotted black;
}

#temp{
    position: absolute;
    bottom:20px;
    left:10px;
    font-size: 5em;
}

#main{
    position: absolute;
    bottom:40px;
    right:10px;
    font-size: 2em;

}

#discription{
    position: absolute;
    bottom:5px;
    right:0px;
    font-size: 1.5em;
    border-radius: 0 0 10px 10px;
}